<h3>Add Manual Sessions
    <small>Add manual sessions</small>
</h3>
<div class="container-fluid">

    <!-- START panel-->
    <div class="panel panel-default">
        <div class="panel-body">

            <div>
                <tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">
                    <tab heading="Step 1" active="steps.step1" select="steps.percent=10">
                        <p class="m-b">Register User.</p>
                        <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>

                        <!--STEP 1 FORM (REGISTRATION) -->
                        <form name="step1" class="form-validation" ng-controller="Step1Controller"
                              ng-submit="register()">
                            <div class="form-group">
                                <label>Email</label>

                                <div class="controls">
                                    <input type="email" data-parsley-group="step1" ng-model="addStep1.email"
                                           placeholder="Email Id" required="required"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="islogin">
                                <label>First Name</label>

                                <div class="controls">
                                    <input type="text" data-parsley-group="step1" ng-model="addStep1.first_name"
                                           placeholder="First Name" required="required"
                                           class="form-control remove_req" ng-disabled="islogin"/>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="islogin">
                                <label>Last Name</label>

                                <div class="controls">
                                    <input type="text" data-parsley-group="step1" ng-model="addStep1.last_name"
                                           placeholder="Last Name" required="required"
                                           class="form-control remove_req" ng-disabled="islogin"/>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="islogin">
                                <label>Gender</label>

                                <div class="controls clearfix">
                                    <div class="radio c-radio gender">
                                        <label>
                                            <input type="radio" value="male" name="gender" checked
                                                   ng-disabled="islogin" ng-model="addStep1.gender">
                                            <span class="fa fa-circle"></span>Male</label>
                                    </div>
                                    <div class="radio c-radio gender">
                                        <label>
                                            <input type="radio" value="female" name="gender"
                                                   ng-disabled="islogin" ng-model="addStep1.gender">
                                            <span class="fa fa-circle"></span>Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="islogin">
                                <label>Mobile No.</label>

                                <div class="controls">
                                    <input type="number" data-parsley-group="step1" ng-model="addStep1.mobile"
                                           placeholder="Mobile Number" required="required"
                                           class="form-control remove_req" ng-disabled="islogin"/>
                                </div>
                            </div>
                            <!--<div ng-hide="islogin"><a ng-click="login(1)">Already a user?</a>-->
                            <!--</div>-->
                            <!--<div ng-show="islogin"><a ng-click="login(0)">Not a user yet?</a>-->
                            <!--</div>-->

                            <div class="m-t m-b">
                                <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default btn-rounded"
                                        ng-click="steps.step2=true">Next
                                </button>
                            </div>
                        </form>
                        <!--STEP 1 FORM (REGISTRATION) END -->

                    </tab>
                    <tab heading="Step 2" disabled="step1.$invalid" active="steps.step2" select="steps.percent=30">

                        <!--STEP 2 FORM (PAYMENT) -->

                        <form name="step2" class="form-validation" ng-controller="Step2Controller"
                              stripe-form="stripeCallback">
                            <p class="m-b">Payment</p>
                            <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>

                            <div class="clearfix">
                                <div class="col-sm-6 form-group padding_left">
                                <span style="margin-bottom: 10px;" class="col-sm-12">
                                    <input type="text" masked="" data-inputmask="'mask': '9999-9999-9999-9999'"
                                           ng-model="account.card_no" payments-format="card"
                                           required="required" placeholder="Credit Card Number" class="form-control">
                                    </span>
                                <span class="col-sm-6">
                                <input masked="" type="text" placeholder="CVV/CVC"
                                       ng-model="account.cvv" maxlength="4" payments-format="cvc"
                                       required="required" class="form-control"/>
                                </span>
                                <span class="col-sm-6">
                            <input type="text" masked="" data-inputmask="'mask': '99/9999'" placeholder="DD/YYYY"
                                   ng-model="account.date" payments-format="expiry"
                                   required="required" class="form-control"/>
                                </span>
                                </div>
                            </div>

                            <div class="m-t m-b">
                                <button type="button" class="btn btn-default btn-rounded"
                                        ng-click="steps.step1=true">
                                    Prev
                                </button>
                                <button type="submit" ng-disabled="step2.$invalid"
                                        class="btn btn-default btn-rounded"
                                        ng-click="steps.step3=true">Next
                                </button>
                            </div>
                        </form>

                        <!--STEP 2 FORM (PAYMENT) END -->

                    </tab>
                    <tab heading="Step 3" disabled="step2.$invalid" active="steps.step3" select="steps.percent=60">

                        <!--STEP 3 FORM (BOOKING) -->

                        <form name="step2" class="form-validation" ng-controller="Step3Controller"
                              ng-submit="booking()">
                            <p class="m-b">Booking</p>
                            <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>

                            <div class="clearfix">
                                <div class="col-sm-6 form-group padding_left">
                                <span style="margin-bottom: 10px;" class="col-sm-12">
                                    <input type="text" masked="" data-inputmask="'mask': '9999-9999-9999-9999'"
                                           ng-model="account.card_no"
                                           required="required" placeholder="Credit Card Number" class="form-control"
                                           data-stripe="number">
                                    </span>
                                <span class="col-sm-6">
                                <input masked="" data-inputmask="'mask': '999'" type="text" placeholder="CVV"
                                       ng-model="account.cvv"
                                       required="required" class="form-control" data-stripe="cvc"/>
                                </span>
                                <span class="col-sm-6">
                                   <span class="col-sm-6 padding_right">
                                <input type="text" masked="" data-inputmask="'mask': '99'" placeholder="MM"
                                       ng-model="account.mm"
                                       required="required" class="form-control" data-stripe="exp-month"/>
                                       </span><span class="col-sm-6 padding_right">
                            <input type="text" masked="" data-inputmask="'mask': '9999'" placeholder="YYYY"
                                   ng-model="account.yyyy"
                                   required="required" class="form-control" data-stripe="exp-year"/>
                                    </span>
                                </span>
                                </div>
                            </div>

                            <div class="m-t m-b">
                                <button type="button" class="btn btn-default btn-rounded"
                                        ng-click="steps.step2=true">
                                    Prev
                                </button>
                                <button type="submit" ng-disabled="step3.$invalid"
                                        class="btn btn-default btn-rounded"
                                        ng-click="steps.percent=100">Click
                                    me to Finish
                                </button>
                            </div>
                        </form>

                        <!--STEP 3 FORM (BOOKING) END -->

                    </tab>
                </tabset>
            </div>

        </div>
    </div>
    <!-- END panel -->

</div>

<!-- END panel -->
