<div class="ngdialog-message" ng-controller="EditArtistController">
    <h3 style="color: black">Edit Driver</h3>

    <form method="post" validate-form="" novalidate="" ng-submit="EditService(editArtist)" id="add-service">
        <div class="panel panel-default">

            <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
            <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input style="text-transform:capitalize;" type="text" name="team_name" required="required" class="form-control"
                           ng-model="editArtist.firstName"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input style="text-transform:capitalize;"type="text" name="team_name" required="required" class="form-control"
                           ng-model="editArtist.lastName"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Phone No.</label>
                    <input style="text-transform:capitalize;" type="text" name="team_name" required="required" class="form-control"
                           ng-model="editArtist.phoneNumber" data-parsley-type="number"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Email ID</label>
                    <input type="text" name="team_name" required="required" class="form-control"
                           ng-model="editArtist.email"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Registration Date</label>
                    <input type="text" name="team_name" required="required" class="form-control"
                           ng-model="editArtist.registrationDate"/>
                </div>


                <input type="hidden" ng-model="editArtist.id_pop" />
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel
                </button>
            </div>
        </div>
    </form>
</div>
