<span ng-controller="FAQController">
<h3>Update FAQ
    <small>Update faq for app</small>
</h3>
<div class="container-fluid">
    <form method="post" validate-form="" novalidate="" ng-submit="addAboutContent()">
        <!-- START panel-->
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="panel panel-default faq_panel">
                <div class="panel-heading">
                    FAQ 1
                </div>
                <div class="panel-body">
                    <script type="text/ng-template" id="ng-wig/views/ng-wig.html">
                        <div class="ng-wig">
                            <div class="btn-group btn-group-sm wd-wide">
                                <button type="button" title="Header" ng-click="execCommand('formatblock', '&lt;h1&gt;')"
                                        class="btn btn-sm btn-default"><em class="fa fa-header"></em></button>
                                <button type="button" title="Paragraph"
                                        ng-click="execCommand('formatblock', '&lt;p&gt;')"
                                        class="btn btn-sm btn-default"><em class="fa fa-paragraph"></em></button>
                                <button type="button" title="Unordered List"
                                        ng-click="execCommand('insertunorderedlist')"
                                        class="btn btn-sm btn-default"><em class="fa fa-list-ul"></em></button>
                                <button type="button" title="Ordered List" ng-click="execCommand('insertorderedlist')"
                                        class="btn btn-sm btn-default"><em class="fa fa-list-ol"></em></button>
                                <button type="button" title="Bold" ng-click="execCommand('bold')"
                                        class="btn btn-sm btn-default"><em class="fa fa-bold"></em></button>
                                <button type="button" title="Italic" ng-click="execCommand('italic')"
                                        class="btn btn-sm btn-default"><em class="fa fa-italic"></em></button>
                                <button type="button" title="link" ng-click="execCommand('createlink')"
                                        class="btn btn-sm btn-default"><em class="fa fa-link"></em></button>
                                <button type="button" title="Edit Html" ng-class="{ 'nw-button--active': editMode }"
                                        ng-click="toggleEditMode()" class="pull-right btn btn-sm btn-default"><em
                                        class="fa fa-pencil"></em></button>
                            </div>
                            <div class="nw-editor"><textarea ng-show="editMode" ng-model="content"
                                                             class="nw-editor__src"> </textarea>
                                <iframe scrolling="{{ autoexpand ? 'no' : 'yes' }}" frameBorder="0" ng-hide="editMode"
                                        ng-model="content" ng-wig-editable="" class="nw-editor__res"></iframe>
                            </div>
                        </div>
                    </script>
                    <textarea ng-wig="faq1" ng-model="faq.faq1" required="required"></textarea>
                </div>
            </div>
        </div>
        <!-- END panel -->

        <!-- START panel-->
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="panel panel-default faq_panel">
                <div class="panel-heading">
                    FAQ 2
                </div>
                <div class="panel-body">
                    <script type="text/ng-template" id="ng-wig/views/ng-wig.html">
                        <div class="ng-wig">
                            <div class="btn-group btn-group-sm wd-wide">
                                <button type="button" title="Header" ng-click="execCommand('formatblock', '&lt;h1&gt;')"
                                        class="btn btn-sm btn-default"><em class="fa fa-header"></em></button>
                                <button type="button" title="Paragraph"
                                        ng-click="execCommand('formatblock', '&lt;p&gt;')"
                                        class="btn btn-sm btn-default"><em class="fa fa-paragraph"></em></button>
                                <button type="button" title="Unordered List"
                                        ng-click="execCommand('insertunorderedlist')"
                                        class="btn btn-sm btn-default"><em class="fa fa-list-ul"></em></button>
                                <button type="button" title="Ordered List" ng-click="execCommand('insertorderedlist')"
                                        class="btn btn-sm btn-default"><em class="fa fa-list-ol"></em></button>
                                <button type="button" title="Bold" ng-click="execCommand('bold')"
                                        class="btn btn-sm btn-default"><em class="fa fa-bold"></em></button>
                                <button type="button" title="Italic" ng-click="execCommand('italic')"
                                        class="btn btn-sm btn-default"><em class="fa fa-italic"></em></button>
                                <button type="button" title="link" ng-click="execCommand('createlink')"
                                        class="btn btn-sm btn-default"><em class="fa fa-link"></em></button>
                                <button type="button" title="Edit Html" ng-class="{ 'nw-button--active': editMode }"
                                        ng-click="toggleEditMode()" class="pull-right btn btn-sm btn-default"><em
                                        class="fa fa-pencil"></em></button>
                            </div>
                            <div class="nw-editor"><textarea ng-show="editMode" ng-model="content"
                                                             class="nw-editor__src"> </textarea>
                                <iframe scrolling="{{ autoexpand ? 'no' : 'yes' }}" frameBorder="0" ng-hide="editMode"
                                        ng-model="content" ng-wig-editable="" class="nw-editor__res"></iframe>
                            </div>
                        </div>
                    </script>
                    <textarea ng-wig="faq2" ng-model="faq2" required="required"></textarea>
                </div>
            </div>
        </div>
        <!-- END panel -->

        <!-- START panel-->
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="panel panel-default faq_panel">
                <div class="panel-heading">
                    FAQ 3
                </div>
                <div class="panel-body">
                    <script type="text/ng-template" id="ng-wig/views/ng-wig.html">
                        <div class="ng-wig">
                            <div class="btn-group btn-group-sm wd-wide">
                                <button type="button" title="Header" ng-click="execCommand('formatblock', '&lt;h1&gt;')"
                                        class="btn btn-sm btn-default"><em class="fa fa-header"></em></button>
                                <button type="button" title="Paragraph"
                                        ng-click="execCommand('formatblock', '&lt;p&gt;')"
                                        class="btn btn-sm btn-default"><em class="fa fa-paragraph"></em></button>
                                <button type="button" title="Unordered List"
                                        ng-click="execCommand('insertunorderedlist')"
                                        class="btn btn-sm btn-default"><em class="fa fa-list-ul"></em></button>
                                <button type="button" title="Ordered List" ng-click="execCommand('insertorderedlist')"
                                        class="btn btn-sm btn-default"><em class="fa fa-list-ol"></em></button>
                                <button type="button" title="Bold" ng-click="execCommand('bold')"
                                        class="btn btn-sm btn-default"><em class="fa fa-bold"></em></button>
                                <button type="button" title="Italic" ng-click="execCommand('italic')"
                                        class="btn btn-sm btn-default"><em class="fa fa-italic"></em></button>
                                <button type="button" title="link" ng-click="execCommand('createlink')"
                                        class="btn btn-sm btn-default"><em class="fa fa-link"></em></button>
                                <button type="button" title="Edit Html" ng-class="{ 'nw-button--active': editMode }"
                                        ng-click="toggleEditMode()" class="pull-right btn btn-sm btn-default"><em
                                        class="fa fa-pencil"></em></button>
                            </div>
                            <div class="nw-editor"><textarea ng-show="editMode" ng-model="content"
                                                             class="nw-editor__src"> </textarea>
                                <iframe scrolling="{{ autoexpand ? 'no' : 'yes' }}" frameBorder="0" ng-hide="editMode"
                                        ng-model="content" ng-wig-editable="" class="nw-editor__res"></iframe>
                            </div>
                        </div>
                    </script>
                    <textarea ng-wig="faq3" ng-model="faq3" required="required"></textarea>
                </div>
            </div>
        </div>
        <!-- END panel -->

        <div class="panel panel-default">
            <div class="panel-footer center">
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
        </div>
    </form>
</div>
</span>

<!-- END panel -->
