<h3>Reports
    <small>Download all kind of user reports</small>
</h3>

<div class="col-sm-15">
    <div class="panel panel-default" ng-controller="ReportsController">
        <div class="panel-heading">
           Please click on the report type
        </div>
        <div class="panel-body" style="overflow: inherit;">
            <div class="btn-group" style="margin-bottom: 10px;width: 100%" ng-controller="ButtonsCtrl">
                <label ng-model="add.report_type" btn-radio="'1'" ng-click="getReport(1)" style="width: 33%;"
                       class="btn btn-primary">Executive Summary</label>
                <label ng-model="add.report_type" btn-radio="'2'" ng-click="getReport(2)"  style="width: 33%;"
                       class="btn btn-primary">Customer Overview</label>
                <label ng-model="add.report_type" btn-radio="'3'"  ng-click="getReport(3)" style="width: 33%;"
                       class="btn btn-primary">Staff Summary</label>

            </div>
            <div class="btn-group" style="margin-bottom: 10px;width: 100%" ng-controller="ButtonsCtrl">
                <label ng-model="add.report_type" btn-radio="'4'" style="width: 33%;"
                       class="btn btn-primary" ng-click="getReport(4)" >Staff Roster Overview</label>
                <label ng-model="add.report_type" btn-radio="'5'" style="width: 33%;"
                       class="btn btn-primary" ng-click="getReport(5)">Appointment Summary</label>
                <label ng-model="add.report_type" btn-radio="'6'" ng-click="getReport(6)" style="width: 33%;"
                       class="btn btn-primary">Cancelled Appointment Summary</label>



            </div>

                <div class="btn-group" style="margin-bottom: 10px;width: 100%" ng-controller="ButtonsCtrl">
                    <label ng-model="add.report_type" btn-radio="'7'" ng-click="getReport(7)" style="width: 33%;"
                           class="btn btn-primary">Service Detail Summary</label>
                    <label ng-model="add.report_type" btn-radio="'8'" ng-click="getReport(8)" style="width: 33%;"
                           class="btn btn-primary">Coupon Code Detail</label>
                    <label ng-model="add.report_type" btn-radio="'9'" ng-click="getReport(9)" style="width: 33%;"
                           class="btn btn-primary">Refer a Friend</label>


            </div>

            <div class="date-range-div">
                <div class="panel-heading">
                    Please select the date range
                </div>
                <div class="col-lg-6 padding_left">
                    <div class="form-group" ng-controller="DatepickerReportsCtrl">
                        <p class="input-group">
                            <input placeholder="From Date" type="text" datepicker-popup="{{format}}"
                                   ng-model="add.from_date" is-open="opened"
                                   style="background-color: #fff;cursor: pointer;"
                                   min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                                   class="form-control" readonly/>
                        <span class="input-group-btn">
                           <button type="button" ng-click="open($event)" class="btn btn-default">
                               <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 padding_right">
                    <div class="form-group" ng-controller="DatepickerReportsCtrl">
                        <p class="input-group">
                            <input placeholder="To Date" type="text" datepicker-popup="{{format}}"
                                   ng-model="add.to_date" is-open="opened"
                                   style="background-color: #fff;cursor: pointer;" ng-change="checkDate()"
                                   min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                                   class="form-control" readonly/>
                        <span class="input-group-btn">
                           <button type="button" ng-click="open($event)" class="btn btn-default">
                               <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-info" ng-click="getReport1()">SUBMIT</button>
        </div>
    </div>

    <script src="http://alasql.org/console/xlsx.core.min.js"></script>
    </div>